/**
* RangeMenu Styles
**/

.ux-rangemenu-icon {
	margin: 0 0 0 5px !important;
	width: 16px !important;
	height: 16px !important;
	display: block;
}

.ux-rangemenu-gt {
	background-image: url(/modules/Admin/ux/grid/images/greater_than.png) !important;
}

.ux-rangemenu-lt {
	background-image: url(/modules/Admin/ux/grid/images/less_than.png) !important;
}

.ux-rangemenu-eq {
	background-image: url(/modules/Admin/ux/grid/images/equals.png) !important;
}
